<div class="row" [class.mine]="isMine()">
  <div class="bubble">
  <div class="message-text" *ngIf="msg.content">
    {{ msg.content }}
  </div>

  <div class="attachments" *ngIf="msg.attachments && msg.attachments.length">
    <div class="attachment-card" *ngFor="let file of msg.attachments">
      <div class="file-icon">
        {{ getFileIcon(file.mimeType) }}
      </div>

      <div class="file-info">
        <div class="file-name">{{ file.originalName }}</div>
        <div class="file-meta">
          {{ file.mimeType }} · {{ formatFileSize(file.sizeBytes) }}
        </div>
      </div>
    </div>
  </div>

  <div class="message-time">
    {{ msg.createdAt | date:'shortTime' }}
  </div>
</div>
</div>
