<div class="row" [class.mine]="isMine()">
  <div class="bubble">
    <div class="message-text" *ngIf="msg.content">
      {{ msg.content }}
    </div>

    <div class="attachments" *ngIf="msg.attachments?.length">
      <button
        type="button"
        class="attachment-card"
        *ngFor="let file of msg.attachments"
        (click)="downloadFile(file)"
      >
        <div class="file-icon">
          {{ getFileIcon(file.mimeType) }}
        </div>

        <div class="file-info">
          <div class="file-name">{{ file.originalName }}</div>
          <div class="file-meta">
            {{ file.mimeType }} · {{ formatFileSize(file.sizeBytes) }}
          </div>
        </div>

        <div class="download-icon">⬇️</div>
      </button>
    </div>
    <button
      *ngIf="!isMine()"
      class="report-btn"
      type="button"
      (click)="onReport($event)"
      title="Reportar mensaje">
      ⚠️
    </button>

    <div class="message-time">
      {{ msg.createdAt | date:'shortTime' }}
    </div>
  </div>
</div>